* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --earth--brown: #b8a47e;
  --gray: #383838;
  --dark: #000000;
  --light: #ffffff;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
}

.line {
  display: inline-block;
  width: 2rem;
  border: 1px solid var(--earth--brown);
  margin-bottom: 0.3rem;
  text-align: center;
}

/* header */

.header {
  position: relative;
  margin-bottom: 8rem;
}

.header .logo {
  position: absolute;
  background: var(--earth--brown);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  padding: 0 1rem;
  top: -3rem;
  margin-left: 0.2rem;
}

.header .logo img {
  width: 100%;
  margin-top: 3.3rem;
  object-fit: contain;
}

.header .header-top {
  display: flex;
}

.header .header-top .menu {
  padding: 2rem;
  margin-left: 5rem;
  z-index: 1000;
}

/* mobile  */
.header .img-right .nav-bars-btn {
  color: var(--light);
  float: right;
  position: absolute;
  right: 0;
  top: 0rem;
  font-size: 3rem;
  display: none;
  cursor: pointer;
}
.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  z-index: 999;
  transform: translateX(100%);
}
.menu-moblie-close {
  font-size: 3rem;
  position: absolute;
  right: 0;
  color: var(--light);
  cursor: pointer;
}
.menu-mobile a {
  font-size: 2rem;
  margin-top: 3rem;
  text-decoration: none;
  color: var(--light);
  text-transform: uppercase;
  text-align: center;
}
.menu-mobile a:hover {
  color: var(--earth--brown);
}
.nav-input:checked ~ .menu-mobile {
  transform: translateX(0);
}
/* end mobile */

.header .header-top .menu a {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
  margin-left: 5rem;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--earth--brown);
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.header .header-top .menu a:nth-child(3),
.header .header-top .menu a:nth-child(4),
.header .header-top .menu a:nth-child(5) {
  color: var(--light);
}

.header .side-navigation {
  display: flex;
  align-items: center;
}

.side-navigation .line.side {
  transform: rotate(90deg);
  margin-top: 1rem;
}

.header .side-navigation .navigation {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  gap: 1rem;
}

.header .side-navigation .navigation .num-title {
  font-size: 2rem;
  margin: 2rem 0;
}

.header .side-navigation .navigation .icon i {
  font-size: 2rem;
  font-weight: 300;
}

.header .side-navigation .navigation .icon:first-child {
  color: var(--earth--brown);
}

.navigation .number-container {
  text-align: center;
}

.header .side-navigation .navigation .number-container p {
  color: var(--gray);
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
}

.side-navigation .title {
  padding: 5rem 5rem 0 5rem;
  z-index: 2;
}

.side-navigation .title .title-top {
  font-size: 1rem;
  color: var(--gray);
}

.side-navigation .title .title-center {
  letter-spacing: 10px;
  font-size: 3.7rem;
  margin-bottom: 2rem;
}

.side-navigation .title .title-bottom {
  padding: 0px 8rem;
  display: flex;
  justify-content: stretch;
  color: var(--earth--brown);
  align-items: center;
  gap: 7px;
}

.line.gear {
  margin-bottom: 0;
}

.title .title-bottom .bx-chevron {
  font-size: 1.5rem;
  margin-top: 4px;
}

.header .img-right {
  position: absolute;
  top: 0;
  right: 0;
}

.header .img-right img {
  max-width: 63.3%;
  /* height: 100%; */
  float: right;
  /* object-fit: contain; */
}

/* end header */

/* banner */
.banner {
  padding: 4rem 0;
}

.banner-container {
  display: flex;
  align-items: center;
  padding-right: 8rem;
  gap: 2.5rem;
  position: relative;
}

.square {
  position: absolute;
  top: 10rem;
  right: 4rem;
  width: 56rem;
  height: 21rem;
  border: 3px solid var(--earth--brown);
  z-index: 3;
}

.square .line-down {
  position: absolute;
  right: 7rem;
  bottom: -5.1rem;
  width: 14rem;
  background: var(--light);
  text-align: center;
}

.line-down img {
  height: 5rem;
}

.banner-img {
  position: relative;
}

.banner-img img {
  max-width: 63rem;
  height: 32rem;
  object-fit: contain;
}

.banner-title {
  position: absolute;
  z-index: 3;
  color: var(--light);
  right: 0;
  top: 43%;
}

.banner-title h1 {
  letter-spacing: 10px;
  margin-right: 9px;
  font-size: 3.7rem;
}

.banner-title p {
  float: right;
  margin-right: 0.5rem;
}

.banner-text {
  color: var(--gray);
  line-height: 2rem;
}

/*end banner */
/* slider */
.slider {
  padding: 4rem 0;
  background: #d5d5d5;
}

.square {
  position: absolute;
  top: 6rem;
  right: 4rem;
  width: 62%;
  height: 60%;
  border: 3px solid var(--earth--brown);
}

.square.left {
  left: 4rem;
}

.square .img-salt {
  position: absolute;
  top: -1.5rem;
}

.square .img-salt img {
  width: 20rem;
  object-fit: contain;
}

.line-down.left {
  left: 11rem;
  background: #d5d5d5;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 8rem;
  gap: 2.5rem;
}

.slider-img {
  position: relative;
}

.slider-img img {
  max-width: 63rem;
  height: 32rem;
  object-fit: contain;
}

.slider-title {
  position: absolute;
  z-index: 3;
  color: var(--light);
  top: 29%;
}

.slider-title h1 {
  letter-spacing: 10px;
  margin-left: 3.5rem;
  font-size: 3.7rem;
}

.slider-title p {
  padding-left: 14rem;
}

.slider-text {
  color: var(--gray);
  line-height: 2rem;
}

/* end slider */

/* tanner */
.tanner {
  padding: 4rem 2rem;
}

.tanner-title {
  text-align: center;
}

.tanner-title h1 {
  font-size: 4.5rem;
  letter-spacing: 10px;
  font-weight: 800;
}

.tanner-title span {
  float: right;
}

.tanner-pepper {
  background: var(--earth--brown);
  width: 23rem;
  text-align: left;
  font-size: 1rem;
  color: var(--gray);
  font-family: "Segoe UI", Arial, sans-serif;
}

.line-tanner {
  display: inline-block;
  margin-right: 4px;
  width: 6rem;
  border: 1px solid var(--dark);
  margin-top: 0.7rem;
}

.tanner-container {
  padding-top: 9rem;
}

.tanner-first {
  position: relative;
}

.tanner-container .tanner-first .tanner-index {
  font-size: 3rem;
  color: var(--gray);
  position: absolute;
  top: -2rem;
  left: 13px;
}

.line-index {
  display: inline-block;
  margin-right: 4px;
  width: 6rem;
  border: 1px solid var(--dark);
  margin-bottom: 1rem;
}

.tanner-inner-top {
  display: flex;
  /* align-items: center; */
}

.tanner-inner-top .tanner-img {
  position: relative;
  width: 100%;
}

.tanner-inner-top .tanner-img img {
  max-width: 100%;
  object-fit: contain;
}

.tanner-text-right {
  padding-top: 5rem;
  z-index: 5;
}

.tanner-text-right .line-tanner-top {
  display: inline-block;
  height: 4rem;
  border: 1px solid var(--dark);
  margin-left: 3px;
  margin-bottom: 1rem;
}

.tanner-text-right h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  color: var(--gray);
}

.tanner-text-right p {
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  font-weight: 100;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-right: 8rem;
  line-height: 1.5rem;
}

.read-more {
  color: var(--gray);
  font-weight: 700;
}

.tanner-logo {
  padding: 2rem 0px;
}

.line-tanner-bottom {
  display: inline-block;
  height: 10rem;
  border: 1px solid var(--dark);
  z-index: 6;
}

.tanner-text-right img {
  width: 41%;
  margin-bottom: 4.2rem;
  object-fit: contain;
}

.tanner-inner-bottom {
  display: flex;
  position: absolute;
  bottom: -18rem;
  padding-right: 4rem;
}

.tanner-text-left {
  padding: 3rem 8rem;
}

.line-tanner-top {
  border: 1px solid var(--dark);
  height: 9rem;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.background-title {
  background-color: var(--earth--brown);
  width: 100%;
  height: 2rem;
  position: relative;
  text-align: center;
}

.background-title h1 {
  position: absolute;
  top: -1rem;
  letter-spacing: 4px;
  left: 0.4rem;
  font-size: 2rem;
}

.tanner-img-right {
  width: 100%;
}

.tanner-text-left p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 0.5rem 0 2rem 6rem;
  line-height: 1.5rem;
}

.read-more.pl {
  padding-left: 6rem;
}

.tanner-img-right img {
  width: 100%;
  object-fit: contain;
}

.tanner-second {
  position: relative;
  margin-top: 20rem;
}

.tanner-second-container {
  display: flex;
  padding: 0 8rem;
  z-index: 4;
  position: inherit;
}

.tanner-seconde-img {
  width: 221rem;
  position: relative;
}

.tanner-seconde-img img {
  max-width: 100%;
  object-fit: contain;
}

.tanner-index-center {
  text-align: center;
  color: var(--gray);
  font-size: 3rem;
  position: absolute;
  top: -1.5rem;
  right: -1.2rem;
  letter-spacing: 5px;
}

.tanner-second-text {
  margin-left: 5rem;
  margin-top: 2.5rem;
}

.tanner-second-text h1 {
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

.tanner-second-text p {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

.tanner-third {
  margin-top: 3rem;
  padding: 0px 9rem;
  position: absolute;
  top: 60%;
  right: -2%;
}

.tanner-third-container {
  position: relative;
}

.tanner-third .tanner-third-title {
  text-shadow: 6px 13px 15px rgb(0 0 0 / 50%);
  color: var(--light);
  letter-spacing: 10px;
  text-align: right;
  font-size: 4rem;
  position: absolute;
  padding: 0px 43%;
  right: 10%;
  font-weight: 700;
  top: 36%;
}

.tanner-third .tanner-third-img {
  width: 100%;
  text-align: right;
}

.tanner-third .tanner-third-img img {
  width: 55%;
  object-fit: contain;
}

.tanner-index-right {
  font-size: 3rem;
  letter-spacing: 10px;
  color: var(--gray);
  position: absolute;
  right: -2.5rem;
  top: -1.5rem;
}

.tanner-footer {
  margin-top: 19rem;
  display: flex;
  padding-right: 5rem;
}

.taner-footer-img {
  cursor: pointer;
  margin-right: 2rem;
  position: relative;
}

.tanner-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--light);
  background: var(--dark);
  height: 100%;
  width: 100%;
  padding: 40% 0;
  opacity: 0.7;
  text-align: center;
}

.taner-footer-img:nth-child(2) .tanner-icon {
  display: block;
}

.taner-footer-img:hover .tanner-icon {
  display: block;
}

.taner-footer-img img {
  width: 100%;
  object-fit: contain;

  height: 100%;
}

.bg-col {
  background: var(--earth--brown);
  padding: 2rem 2rem;
}

/* end tanner */

/* footer */
.footer-wrap {
  background: #d5d5d5;
  border-top: 1px solid #e0e4f6;
}

.footer-container {
  display: flex;
  padding: 2rem 0rem 1rem 5rem;
  justify-content: space-between;
}

.footer-left {
  text-align: center;
  width: 37rem;
}

.logo-footer {
  padding-bottom: 5rem;
}

.logo-footer img {
  width: 50%;
  object-fit: contain;
}

.copy-right p {
  font-size: 0.8rem;
}

.list-item {
  display: flex;
  list-style: none;
  padding: 2rem 0 6rem 0;
  justify-content: center;
}

.list-item li:nth-child(1) a {
  color: var(--dark);
}

.footer-center li {
  width: 7.7rem;
}

.list-item li a {
  font-size: 1rem;
  color: #919191;
  font-weight: 700;
}

.list-social {
  text-align: center;
  display: flex;
  list-style: none;
  justify-content: center;
}

.list-social li:nth-child(2) a {
  color: var(--dark);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.list-social li a {
  font-size: 1rem;
  color: var(--dark);
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.footer-center-second {
  width: 26rem;
  padding-top: 2rem;
}

.footer-center-second h3 {
  /* font-size: 1rem; */
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.footer-center-second p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.6rem;
}

.footer-end {
  padding-top: 2rem;
}

.footer-end p {
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.6rem;
  padding-right: 3rem;
}

.form-ground {
  padding-top: 2rem;
}

.form-ground input {
  padding: 0.5rem 2rem;
}

.form-ground button {
  padding: 0.5rem 1.5rem;
  background: var(--dark);
  color: var(--light);
}

/* end footer */

/* reponsive */
@media screen and (max-width: 470px) {
  html {
    font-size: 13px;
  }
  p {
    font-size: 1rem !important;
  }
  .banner-title {
    top: 16%;
  }
  .slider-title {
    top: 0;
  }
}
@media screen and (max-width: 765px) {
  .footer-center {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .list-item {
    display: block;
    padding: 0;
  }
  .tanner-title span {
    float: none;
  }
  .footer-center li {
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .list-social {
    display: block;
  }
}
@media screen and (max-width: 1039px) {
  .header-top .menu {
    display: none;
  }
  .header .side-navigation {
    align-items: flex-end;
  }
  .header .img-right .nav-bars-btn {
    display: block;
  }
  .header .side-navigation .navigation {
    margin-top: 6rem;
  }
  .side-navigation .title .title-bottom {
    padding: 0px 0rem;
  }
  .tanner-inner-top,
  .tanner-inner-bottom,
  .tanner-second-container {
    display: block;
  }
  .tanner-logo {
    padding: 2rem 1rem;
  }
  .tanner-text-left {
    padding: 0 !important;
  }
  .tanner-inner-bottom {
    padding-right: 0 !important;
  }
  .tanner-seconde-img {
    width: 100%;
  }
  .tanner-third .tanner-third-img img {
    width: 100%;
  }
  .tanner-third .tanner-third-title {
    position: static;
    text-align: center;
    padding: 0;
  }
  .tanner .tanner-footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 0;
  }
  .background-title h1 {
    position: static;
  }
  .tanner-second-container,
  .tanner-third {
    padding: 0 !important;
  }
  .bg-col {
    display: none;
  }
  .footer-container {
    flex-wrap: nowrap !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .footer-center li {
    margin-right: 2rem;
  }
  .footer-end {
    text-align: center;
  }
}
@media screen and (max-width: 1264px) {
  h1 {
    font-size: 2rem !important;
  }

  .header {
    margin-bottom: 1rem;
  }

  .header .img-right img {
    max-width: 57.3% !important;
  }
  .side-navigation .title {
    padding: 0;
  }
  .banner {
    padding: 4rem 0 6rem 2rem;
  }

  .banner-container {
    display: block;
  }

  .banner-img img {
    max-width: 100%;
    height: 100%;
  }

  .banner-text p {
    font-size: 2rem;
    line-height: 3rem !important;
    padding-right: 4rem;
    padding-top: 1rem;
  }

  .banner-text,
  .slider-text {
    padding: 4rem 2rem 3rem 2rem !important;
  }

  .square {
    top: 0;
    right: 2rem;
    width: 98%;
    height: 98% !important;
  }

  .slider {
    margin-top: 7rem;
  }

  .slider-container {
    flex-direction: column-reverse;
  }
  .tanner-second-container {
    padding: 0 4rem;
  }
  .square.left {
    height: 97%;
    top: 0;
    width: 96%;
    left: 2rem;
  }

  .slider-text p {
    font-size: 2rem;
    line-height: 3rem;
    padding-right: 4rem;
    padding-top: 1rem;
  }

  .slider-img {
    position: relative;
    width: 100%;
    margin-right: 2rem;
    margin-top: 2rem;
    overflow: hidden;
  }

  .slider-img img {
    max-width: 97%;
    height: 100% !important;
  }

  .footer-end {
    padding-left: 0 !important;
  }

  .footer-left {
    width: 17rem !important;
  }

  .footer-center-second {
    width: 13rem;
  }
}
@media screen and (max-width: 1487px) {
  .header .img-right img {
    max-width: 60.3%;
  }

  .banner-container {
    padding-right: 3rem;
    gap: 0.2rem;
  }

  .banner-text p {
    line-height: 1.5rem;
  }

  .slider-container {
    padding-left: 3rem;
    gap: 0.2rem;
  }

  .slider-text {
    line-height: 1.5rem;
  }

  .background-title h1 {
    left: 0;
    letter-spacing: 0;
  }

  .line-down.left {
    left: 2rem;
  }

  .square.left {
    left: 1rem;
  }

  .square {
    right: 1rem;
    height: 64%;
  }

  .square .img-salt img {
    width: 11rem;
  }

  .square .line-down {
    right: 2rem;
    width: 11rem;
  }

  .tanner-third {
    position: static;
    top: 24rem;
  }

  .tanner-inner-bottom {
    position: static;
  }

  .tanner-text-left {
    padding: 0rem 1rem 0 5rem;
  }

  .tanner-second {
    margin-top: 1rem;
  }

  .tanner-footer {
    margin-top: 0;
    padding-right: 9rem;
  }

  .tanner-icon {
    font-size: 2rem;
  }
  .footer-left {
    width: 19rem;
  }
  .logo-footer img {
    width: 65%;
  }
  .footer-container {
    flex-wrap: wrap;
    padding: 2rem 3rem 2rem 4rem;
  }

  .footer-end {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1899px) {
  html {
    font-size: 20px;
  }
}
